.bookDetailContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
    padding: 10px;
    color:black;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 50px;
}

.detailsContainer{
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
}

.detailsContainer h1{
    font-size: 30px;
}

.detailsContainer p{
    font-size: 20px;
    margin: 10px 0;
}

.category{
    color: #747474;
    margin: 10px 0;
}



