.bookDetailContainer {
    display: flex;
    justify-content: flex-start;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 10px;
    color:black
}


.ResponsiveImage{
    display: block;
    height: auto;
    width: 100%;
}

.imageContainer {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */
}

.detailsContainer {
    flex: 1;
}
